/* TO GET AN IDEA OF THE CSS YOU WILL LIKELY BE USING, SEE THE LISTS BELOW. */

        /* 
        
        Spacing 

            - padding (shorthand and/or specific properties like padding-bottom, etc.)

            - margin, (shorthand and/or specific properties like margin-top, etc.)

            - letter-spacing, word-spacing, line-height

            - width, max-width, min-width
            - height, max-height, min-height

        Typography 

            - font-family, font-size, font-style, font-weight

            - text-decoration, text-align

            - color

            - text-shadow, text-transform

        Box, Layout and Border 

            - border (shorthand and/or specific properties like border-top, border-bottom-radius, border-width, etc.)

            - box-shadow

            - display, float, align-items, align-content

            - grid-template-columns, grid-column-gap

            - transform

        Other

            - :nth()-child (to target specific child elements)

            - :focus, :hover, :active (to target link states)

            - @font-face or @import (to import typefaces)

        */


/* ------ START WRITING YOUR CODE BELOW ------ */


.main-section {
    margin: 0;
    text-align: left;
    display: grid;

    column-gap: 3rem;
    justify-content: space-between;
}

.right-aside {
   
    float: right;
    border-left: 2px solid #ccc;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;

    /*justify-content: space-around;*/
    grid-column: 2;
}

nav ul {
    margin: 0;
    /*padding-bottom: 50px;
    padding-top: 35px;*/
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    font-size: 20px;
    list-style: none;

}

nav ul li {
    float: left;
    margin: 0;
    padding: 0;
    word-spacing: .125rem;
}

nav ul li a {
    padding: 2rem;
}




.article-style {
    grid-column: 1;
    width: 67rem;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
}
.subsection {
    padding: 0px;
    background-color: #f8f8f8;
    margin-top: auto;
    display: flex;

    
}
h1 {
    letter-spacing: .125rem;
    font-family: "Josefinslab", Georgia, serif ;
    font-size: 3rem ;
    margin: 1.125rem;
    text-align: center;

}

h2 {
    font-size: 1.5em;
    margin-left: 40px;
}

h3 {
    font-size: 1.2em;
}


a {
    text-decoration: none;
    color: #333;
}


.highlight {
    display: inline-block;
    padding: 5px 10px;
    background-color: #640f0c; 
    border: 2px solid black; 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); 
    border-radius: 5px;
    color: bisque;
}


h1, h2, h3 {
    text-transform: capitalize;
}

.article-image {
    float: left;
    padding: 13px;
    max-width: 100%;
}
.article-image1{
    float: left;
    padding: 10px;
    margin: 0;
}
/*
.article-image1 {
   float: left;
   grid-column-start: 1;
   grid-column-end: 1;
   padding: 0;
}
.article-image2 {
    float: left;
    grid-column-start: 2;
    grid-column-end: 2;
    padding: 0;
 }

 .article-image3 {
    float: left;
    grid-column-start: 3;
    grid-column-end: 4;
    padding: 0;
 }*/
 



nav ul {
    display: flex;
}

nav ul li {
    margin-right: 20px;
}


.expand {
    transform: rotate(-5deg);
}

a:hover {
    color: #4000ff;
}
```