/* TO GET AN IDEA OF THE CSS YOU WILL LIKELY BE USING, SEE THE LISTS BELOW. */

        /* 
        
        Spacing 

            - padding (shorthand and/or specific properties like padding-bottom, etc.)

            - margin, (shorthand and/or specific properties like margin-top, etc.)

            - letter-spacing, word-spacing, line-height

            - width, max-width, min-width
            - height, max-height, min-height

        Typography 

            - font-family, font-size, font-style, font-weight

            - text-decoration, text-align

            - color

            - text-shadow, text-transform

        Box, Layout and Border 

            - border (shorthand and/or specific properties like border-top, border-bottom-radius, border-width, etc.)

            - box-shadow

            - display, float, align-items, align-content

            - grid-template-columns, grid-column-gap

            - transform

        Other

            - :nth()-child (to target specific child elements)

            - :focus, :hover, :active (to target link states)

            - @font-face or @import (to import typefaces)

        */


/* ------ START WRITING YOUR CODE BELOW ------ */


.right-aside {
    width: 300px;
    float: right;
    border-left: 2px solid #ccc;
    padding-left: 10px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-right: 0%;
}

.image-description {
    max-height: fit-content;
}
nav ul {
    margin: 0;
    padding: 20px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    
}

nav ul li {
    margin: 0;
    padding: 0;
    word-spacing: .125rem;
}

.main-section {
    max-width: 800px;
    margin: 0;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
}
.subsection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: #f8f8f8;
    margin-top: auto;
}
h1 {
    letter-spacing: .125rem;
    font-family: "Josefinslab", Georgia, serif ;
    font-size: 3rem ;
    margin: 1.125rem;
    text-align: center;

}

h2 {
    font-size: 1.5em;
    margin-left: 40px;
}

h3 {
    font-size: 1.2em;
}

a {
    text-decoration: none;
    color: #333;
}

.highlight {
    display: inline-block;
    padding: 5px 10px;
    background-color: #640f0c; 
    border: 2px solid black; 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); 
    border-radius: 5px;
    color: bisque;
}

/* Text-transform */
h1, h2, h3 {
    text-transform: capitalize;
}

/* Box, Layout, and Border */
/* Border */
.article-image {
   float: left;
   padding: .125rem;
}

/* Display */
nav ul {
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

/* Transform */
.title {
    transform: rotate(-5deg);
}
.expand {
    width: .75rem;
}
/* Other */
/* :hover */
a:hover {
    color: #4000ff;
}
